extends layout

block content
  .text-center
    img(src="https://cdn.glitch.com/8a4d5283-c9f0-4cc9-9cb0-ff953383dacc%2Frush-7.svg?v=1592637469594" width="500px")
    if error.status === 404
      h4 Error #{error.status}
      p Page not found. You're on the wrong page.
    else if error.status === 403
      h4 Error #{error.status}
      p Forbidden. You're not allowed to be here.
    else if error.status === 418
      h4 Error #{error.status}
      p I'm a teapot. I, the server, refuse to brew coffee because I am, permanently, a teapot. Since I'm a combined coffee/tea pot that is temporarily out of coffee, I should instead return 503.
      p (The teacher's lounge coffee pot is getting refilled.)
    else if error.status === 451
      h4 Error #{error.status}
      p Unavailable for Legal Reasons. This request may not be serviced in the Roman Province of Judea due to the Lex Julia Majestatis, which disallows access to resources hosted on servers deemed to be operated by the People's Front of Judea.
    else
      h4 Error #{error.status}
      p This issue has been reported. If this keeps happening, text #[span Sarthak] directly.
      p Usually this means Sarthak was working on this site and he broke something.
    h6 (#{message})
  //h2= error.status
  //pre #{error.stack}
