mixin resourcessecured
  h1 Secured Resources
  // QB Links
  h3 Question Banks
  a(href=qbahurl) Art History #[span.badge.badge-info Passed]
  br
  a(href=qbburl) Biology #[span.badge.badge-info Passed]
  br
  a(href=qbcbcurl) Calculus BC #[span.badge.badge-info Passed]
  br
  a(href=qbchemurl) Chemistry #[span.badge.badge-info Passed]
  br
  a(href=qbcgovurl) Comparative Government #[span.badge.badge-info Passed]
  br
  a(href=qbcsurl) Computer Science Principles #[span.badge.badge-info Passed]
  br
  a(href=qbcsaurl) Computer Science A #[span.badge.badge-info Passed]
  br
  a(href=qbelaurl) English Language #[span.badge.badge-info Passed]
  br
  a(href=qbeliurl) English Literature #[span.badge.badge-info Passed]
  br
  a(href=qbesurl) Environmental Science #[span.badge.badge-info Passed]
  br
  a(href=qbeuurl) European History #[span.badge.badge-info Passed]
  br
  a(href=qbhgurl) Human Geography #[span.badge.badge-info Passed]
  br
  a(href=qbmaurl) Macroeconomics #[span.badge.badge-info Passed]
  br
  a(href=qbmiurl) Microeconomics #[span.badge.badge-info Passed]
  br
  a(href=qbmturl) Music Theory #[span.badge.badge-info Passed]
  br
  a(href=qbp1url) Physics 1 #[span.badge.badge-info Passed]
  br
  a(href=qbp2url) Physics 2 #[span.badge.badge-info Passed]
  br
  a(href=qbpcemurl) Physics C: Electricity & Magnetism #[span.badge.badge-info Passed]
  br
  a(href=qbpcmurl) Physics C: Mechanics #[span.badge.badge-info Passed]
  br
  a(href=qbpsurl) Psychology #[span.badge.badge-info Passed]
  br
  a(href=qbsturl) Statistics #[span.badge.badge-info Passed]
  br
  a(href=qbusgurl) US Government #[span.badge.badge-info Passed]
  br
  a(href=qbushurl) US History #[span.badge.badge-info Passed]
  br
  a(href=qbwhurl) World History #[span.badge.badge-info Passed]
  br
  br
  // PPC Links
  br
  h3 Personal Progress Checks
  a(href=ppcahurl) Art History #[span.badge.badge-danger Failed]
  br
  a(href=ppcburl) Biology #[span.badge.badge-danger Failed]
  br
  a(href=ppccbcurl) Calculus BC #[span.badge.badge-danger Failed]
  br
  a(href=ppcchemurl) Chemistry #[span.badge.badge-danger Failed]
  br
  a(href=ppccgovurl) Comparative Government #[span.badge.badge-danger Failed]
  br
  a(href=ppccsurl) Computer Science Principles #[span.badge.badge-danger Failed]
  br
  a(href=ppccsaurl) Computer Science A #[span.badge.badge-danger Failed]
  br
  a(href=ppcelaurl) English Language #[span.badge.badge-danger Failed]
  br
  a(href=ppceliurl) English Literature #[span.badge.badge-danger Failed]
  br
  a(href=ppcesurl) Environmental Science #[span.badge.badge-danger Failed]
  br
  a(href=ppceuurl) European History #[span.badge.badge-danger Failed]
  br
  a(href=ppchgurl) Human Geography #[span.badge.badge-danger Failed]
  br
  a(href=ppcmaurl) Macroeconomics #[span.badge.badge-danger Failed]
  br
  a(href=ppcmiurl) Microeconomics #[span.badge.badge-danger Failed]
  br
  a(href=ppcmturl) Music Theory #[span.badge.badge-danger Failed]
  br
  a(href=ppcp1url) Physics 1 #[span.badge.badge-danger Failed]
  br
  a(href=ppcp2url) Physics 2 #[span.badge.badge-danger Failed]
  br
  a(href=ppcpcemurl) Physics C: Electricity & Magnetism #[span.badge.badge-danger Failed]
  br
  a(href=ppcpcmurl) Physics C: Mechanics #[span.badge.badge-danger Failed]
  br
  a(href=ppcpsurl) Psychology #[span.badge.badge-danger Failed]
  br
  a(href=ppcsturl) Statistics #[span.badge.badge-danger Failed]
  br
  a(href=ppcusgurl) US Government #[span.badge.badge-danger Failed]
  br
  a(href=ppcushurl) US History #[span.badge.badge-danger Failed]
  br
  a(href=ppcwhurl) World History #[span.badge.badge-danger Failed]