mixin resourcessecured
  h1 Secured Resources
  // QB Links
  h3 Question Banks
  a(href=qbahurl) Art History #[span.badge.badge-info Passed]
  br
  a(href=qbburl) Biology
  br
  a(href=qbcbcurl) Calculus BC
  br
  a(href=qbchemurl) Chemistry
  br
  a(href=qbcgovurl) Comparative Government
  br
  a(href=qbcsurl) Computer Science Principles
  br
  a(href=qbcsaurl) Computer Science A
  br
  a(href=qbelaurl) English Language
  br
  a(href=qbeliurl) English Literature
  br
  a(href=qbesurl) Environmental Science
  br
  a(href=qbeuurl) European History
  br
  a(href=qbhgurl) Human Geography
  br
  a(href=qbmaurl) Macroeconomics
  br
  a(href=qbmiurl) Microeconomics
  br
  a(href=qbmturl) Music Theory
  br
  a(href=qbp1url) Physics 1
  br
  a(href=qbp2url) Physics 2
  br
  a(href=qbpcemurl) Physics C: Electricity & Magnetism
  br
  a(href=qbpcmurl) Physics C: Mechanics
  br
  a(href=qbpsurl) Psychology
  br
  a(href=qbsturl) Statistics
  br
  a(href=qbusgurl) US Government
  br
  a(href=qbushurl) US History
  br
  a(href=qbwhurl) World History
  br
  br
  // PPC Links
  br
  h3 Personal Progress Checks
  a(href=ppcahurl) Art History
  br
  a(href=ppcburl) Biology
  br
  a(href=ppccbcurl) Calculus BC
  br
  a(href=ppcchemurl) Chemistry
  br
  a(href=ppccgovurl) Comparative Government
  br
  a(href=ppccsurl) Computer Science Principles
  br
  a(href=ppccsaurl) Computer Science A
  br
  a(href=ppcelaurl) English Language
  br
  a(href=ppceliurl) English Literature
  br
  a(href=ppcesurl) Environmental Science
  br
  a(href=ppceuurl) European History
  br
  a(href=ppchgurl) Human Geography
  br
  a(href=ppcmaurl) Macroeconomics
  br
  a(href=ppcmiurl) Microeconomics
  br
  a(href=ppcmturl) Music Theory
  br
  a(href=ppcp1url) Physics 1
  br
  a(href=ppcp2url) Physics 2
  br
  a(href=ppcpcemurl) Physics C: Electricity & Magnetism
  br
  a(href=ppcpcmurl) Physics C: Mechanics
  br
  a(href=ppcpsurl) Psychology
  br
  a(href=ppcsturl) Statistics
  br
  a(href=ppcusgurl) US Government
  br
  a(href=ppcushurl) US History
  br
  a(href=ppcwhurl) World History