mixin resourcessecured
  .customPadding
    //script.
      authpageencoded="#{authpage}";
      var authpagedecoded = authpageencoded.replace(/&amp;/g, '&');
      window.open(authpagedecoded, '_blank', 'noopener, noreferrer');
    h1 Secured Resources
    a(href=authpage) Authentication Page
    // QB Links
    h3 Question Banks
    a(href=cdnnamespace+"/QB/ArtHistory/index.html") Art History 
    br
    a(href=cdnnamespace+"/QB/Biology/index.html") Biology 
    br
    a(href=cdnnamespace+"/QB/CalcBC/index.html") Calculus BC 
    br
    a(href=cdnnamespace+"/QB/Chemistry/index.html") Chemistry 
    br
    a(href=cdnnamespace+"/QB/CompGov/index.html") Comparative Government 
    br
    a(href=cdnnamespace+"/QB/CompSci/index.html") Computer Science Principles 
    br
    a(href=cdnnamespace+"/QB/CompSciA/index.html") Computer Science A 
    br
    a(href=cdnnamespace+"/QB/EnglishLang/index.html") English Language 
    br
    a(href=cdnnamespace+"/QB/EnglishLit/index.html") English Literature 
    br
    a(href=cdnnamespace+"/QB/EnvSci/index.html") Environmental Science 
    br
    a(href=cdnnamespace+"/QB/Euro/index.html") European History 
    br
    a(href=cdnnamespace+"/QB/HumanGeo/index.html") Human Geography 
    br
    a(href=cdnnamespace+"/QB/Macro/index.html") Macroeconomics 
    br
    a(href=cdnnamespace+"/QB/Micro/index.html") Microeconomics 
    br
    a(href=cdnnamespace+"/QB/MusicTheory/index.html") Music Theory 
    br
    a(href=cdnnamespace+"/QB/Physics1/index.html") Physics 1 
    br
    a(href=cdnnamespace+"/QB/Physics2/index.html") Physics 2 
    br
    a(href=cdnnamespace+"/QB/PhysicsCEM/index.html") Physics C: Electricity & Magnetism 
    br
    a(href=cdnnamespace+"/QB/PhysicsCMech/index.html") Physics C: Mechanics 
    br
    a(href=cdnnamespace+"/QB/Psychology/index.html") Psychology 
    br
    a(href=cdnnamespace+"/QB/Statistics/index.html") Statistics 
    br
    a(href=cdnnamespace+"/QB/USGov/index.html") US Government 
    br
    a(href=cdnnamespace+"/QB/USHistory/index.html") US History 
    br
    a(href=cdnnamespace+"/QB/WorldHistory/index.html") World History 
    br
    br
    // PPC Links
    br
    h3 Personal Progress Checks #[span.badge.badge-danger Failed]
    a(href=ppcahurl) Art History 
    br
    a(href=ppcburl) Biology 
    br
    a(href=ppccbcurl) Calculus BC 
    br
    a(href=ppcchemurl) Chemistry 
    br
    a(href=ppccgovurl) Comparative Government 
    br
    a(href=ppccsurl) Computer Science Principles 
    br
    a(href=ppccsaurl) Computer Science A 
    br
    a(href=ppcelaurl) English Language 
    br
    a(href=ppceliurl) English Literature 
    br
    a(href=ppcesurl) Environmental Science 
    br
    a(href=ppceuurl) European History 
    br
    a(href=ppchgurl) Human Geography 
    br
    a(href=ppcmaurl) Macroeconomics 
    br
    a(href=ppcmiurl) Microeconomics 
    br
    a(href=ppcmturl) Music Theory 
    br
    a(href=ppcp1url) Physics 1 
    br
    a(href=ppcp2url) Physics 2 
    br
    a(href=ppcpcemurl) Physics C: Electricity & Magnetism 
    br
    a(href=ppcpcmurl) Physics C: Mechanics 
    br
    a(href=ppcpsurl) Psychology 
    br
    a(href=ppcsturl) Statistics 
    br
    a(href=ppcusgurl) US Government 
    br
    a(href=ppcushurl) US History 
    br
    a(href=ppcwhurl) World History
    br
    br
    // SAT Links
    br
    h3 SAT Practice Test Links #[span.badge.badge-warning Not Available]
    a(href="null") SAT Test 1 [TEMP]
    br
    br
    // SAT Subject Links
    br
    h3 SAT Subject Practice Test Links #[span.badge.badge-warning Not Available]
    a(href="null") SAT Subject Test 1 [TEMP]
    br
    br
    // IPE Links
    br
    h3 IPE Links #[span.badge.badge-warning Not Available]
    a(href="null") IPE 1 [TEMP]