mixin resourcessecured
  h1 Secured Resources
  h3 Question Banks
  a.qblink(href=qbahurl) Art History
  br
  a.qblink(href=qbburl) Biology
  br
  a.qblink(href=qbcbcurl) Calculus BC
  br
  a.qblink(href=qbchemurl) Chemistry
  br
  a.qblink(href=qbcgovurl) Comparative Government
  br
  a.qblink(href=qbcsurl) Computer Science Principles
  br
  a.qblink(href=qbcsaurl) Computer Science A
  br
  a.qblink(href=qbelaurl) English Language
  br
  a.qblink(href=qbeliurl) English Literature
  br
  a.qblink(href=qbesurl) Environmental Science
  br
  a.qblink(href=qbeuurl) European History
  br
  a.qblink(href=qbhgurl) Human Geography
  br
  a.qblink(href=qbmaurl) Macroeconomics
  br
  a.qblink(href=qbmiurl) Microeconomics
  br
  a.qblink(href=qbmturl) Music Theory
  br
  a.qblink(href=qbp1url) Physics 1
  br
  a.qblink(href=qbp2url) Physics 2
  br
  a.qblink(href=qbpcemurl) Physics C: Electricity & Magnetism
  br
  a.qblink(href=qbpcmurl) Physics C: Mechanics
  br
  a.qblink(href=qbpsurl) Psychology
  br
  a.qblink(href=qbsturl) Statistics
  br
  a.qblink(href=qbusgurl) US Govovernment
  br
  a.qblink(href=qbushurl) US History
  br
  a.qblink(href=qbwhurl) World History